<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <title><TMPL_VAR name></title>
</head>
<body>

  <div class="container">

    <div class="header">
      <!--
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      -->

      <h1 class="text-muted"><i class="fa fa-globe fa-3"></i> <TMPL_VAR name></h1>
    </div>

    <div class="content">
      <div class="row">
        <div class="col-md-8">
          <TMPL_LOOP Items>
            <div class="row">
              <div class="col-md-2">
                <TMPL_IF new_channel>
                  <h4>
                    <a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a>
                  </h4>
                </TMPL_IF>
                <TMPL_IF channel_face>
                  <img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="">
                </TMPL_IF>
                <TMPL_IF new_date>
                  <span class="publish_date"><TMPL_VAR new_date></span>
                </TMPL_IF>
              </div>
              <div class="col-md-10">
                <TMPL_IF title>
                  <h2><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h2>
                </TMPL_IF>

                <p>
                  <em><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date></a></em>
                </p>

                <p>
                  <TMPL_VAR content>
                </p>
              </div>
            </div>
          </TMPL_LOOP>
        </div>
        <div class="col-md-4">
          <h5>Feeds</h5>
          <ul class="list-unstyled">
            <TMPL_LOOP Channels>
              <li>
                <i class="fa fa-rss"></i> 
                <a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR name ESCAPE="HTML">"><TMPL_VAR name></a> 
                <a href="<TMPL_VAR url ESCAPE="HTML">">(feed)</a>
              </li>
            </TMPL_LOOP>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>Poplus 2014</p>
    </div>
    
  </div>
  
</body>
</html>