<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
  <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
  <link rel="alternate" type="application/rss+xml" href="rss20.xml" title="RSS feed">

  <link rel="alternate" type="application/rss+xml" title="RSS 1.0" href="/rss10.xml" >
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss20.xml" >
  <link rel="alternate" type="application/rss+xml" title="Atom" href="/atom.xml" >

  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <style>
    body {
      font-family: 'Muli', sans-serif;
    }
    .bordecito {
      border: 1px solid #CCC;
      border-radius: 8px;
      box-shadow: 2px 2px 2px #CCC;
    }
  </style>

  <title><TMPL_VAR name></title>
</head>
<body>

  <div class="container">
    
    <header class="navbar navbar-static-top bs-docs-nav">
      <div class="container">
        <div class="navbar-header">
          <h1><i class="fa fa-globe fa-3"></i> <TMPL_VAR name></h1>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
              <a href="http://poplus.org/get-involved/" target="_blank">Get involved</a>
            </li>
            <li>
              <a href="http://poplus.org/about/" target="_blank">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="content">
      <div class="row">
        <div class="col-md-8">
          <TMPL_LOOP Items>
            <div class="row bordecito">
              <div class="col-md-2">
                <TMPL_IF channel_face>
                  <img class="img-responsive img-circle hidden-xs" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="<TMPL_VAR channel_name>" title="<TMPL_VAR channel_name>">
                </TMPL_IF>
                <TMPL_IF new_channel>
                  <h4>
                    <a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a>
                  </h4>
                </TMPL_IF>
                <TMPL_IF new_date>
                  <span class="publish_date"><TMPL_VAR new_date></span>
                </TMPL_IF>
              </div>
              <div class="col-md-10">
                <TMPL_IF title>
                  <h2><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h2>
                </TMPL_IF>

                <p>
                  <em><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date></a></em>
                </p>

                <p>
                  <TMPL_VAR content>
                </p>
              </div>
            </div>
            <hr>
          </TMPL_LOOP>
        </div>
        <div class="col-md-4">
          <h5>Subscribe via email</h5>
          <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=PlanetPoplus', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
            <p>
              <input type="text" name="email" id="email" placeholder="Email address">
              <input type="submit" value="Subscribe">
            </p>
            <input type="hidden" value="PlanetPoplus" name="uri">
            <input type="hidden" value="en_US" name="loc">
          </form>
          <h5>RSS</h5>
          <ul class="list-unstyled">
            <li>
              <i class="fa fa-rss"></i>
              <a href="/rss10.xml">RSS 1.0</a>
            </li>
            <li>
              <i class="fa fa-rss"></i>
              <a href="/rss20.xml">RSS 2.0</a>
            </li>
            <li>
              <i class="fa fa-rss"></i>
              <a href="/atom.xml">ATOM 1.0</a>
            </li>
          </ul>
          <h5>Feeds</h5>
          <ul class="list-unstyled">
            <TMPL_LOOP Channels>
              <li>
                <i class="fa fa-rss"></i> 
                <a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR name ESCAPE="HTML">"><TMPL_VAR name></a> 
                <a href="<TMPL_VAR url ESCAPE="HTML">">(feed)</a>
              </li>
            </TMPL_LOOP>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>Poplus 2014</p>
    </div>
    
  </div>

  <script>
    $(document).ready()
    {
      $('img').addClass('img-responsive');
    }
  </script>
  
</body>
</html>